<li>
    @model AActivity.Models.SchedulingTripDetail

    <i class="fa fa-users bg-blue"></i>
    <div class="timeline-item">

        <h3 class="timeline-header">
            <i class="fas fa-users"></i>

            المشاركين في الرحلة
        </h3>

        <div class="timeline-body">
            <div class="row">

                <div class="col">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary "><i class="fa fa-users text-white"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-text mb-2 ">الطلاب </span>
                            <span class="info-box-number font-weight-bolder mb-2">
                                @Model.Id
                            </span>
                            <a href="">تفاصيل</a>
                        </div>
                    </div>
                </div>



                <div class="col">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary "><i class="fa fa-users text-white"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-text mb-2 ">منتدبين الجهة </span>
                            <span class="info-box-number font-weight-bolder mb-2">4</span>
                            <a href="">تفاصيل</a>
                        </div>
                    </div>
                </div>





                <div class="col">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary "><i class="fa fa-users text-white"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-text mb-2 ">منتدبين العمادة </span>
                            <span class="info-box-number font-weight-bolder mb-2">4</span>
                            <a href="" class="btn btn-sm btn-outline-success">تفاصيل</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</li>